## COM110 Lab1:
### Learning to use jupyter lab and the notebook format (.ipynb)
(c) 2023 Timothy Becker, Department of Computer Science <br><br>
<img src="https://www.conncoll.edu/media/website-media/visualidentity/images/1Line-LogoSig-Color.jpg" width="200">

## [1 10 pts] Download and install jupyter lab https://www.anaconda.com/download

## [2 10 pts] Test it out by rendering and loading this notebook (which is a .ipynb file type)

## [3 30 pts] Lets practice some basic types of data and learn some built-in methods

Each of the core python3 data types have short programs that can be called upon for use. You can think of them as special keys on a calculator such as sin. We will look at some of the mathematical ones first and then move on to methods that may be new to you with strings.

### (a) integers [int]

In [1]:
x = 11 #we define a variable named x that gets the value 10
x

11

In [2]:
x = x + 20 #the current value of x (which is 10) is added to the value 20 and updated
x

31

### [Exercise 3a] take the value of x and manipulate it so that it has three less than half its value in the previous cell[6]
#### Hint: do not use a hard-coded approach by looking at the 30 and perform you math on that. Instead work with the variable named x!
#### x = ???

In [3]:
#x = ???

x = (x/2)-3
x

12.5

### (b) real numbers [float]

In [4]:
import math  #import the math library
import numpy #import the more advanced math/data library called numpy

y = 1.3254    #set a real number which is called a float in python3
y = y*math.pi #use the math library to multiple pi to the value of y
print(y)
type(y)

4.163866903067912

float

In [5]:
math.floor(y)

4

In [6]:
math.ceil(y)

5

In [7]:
math.sin(y)

-0.8532960820246525

### [Exercise 3b] Use the tab key after you type math to see all the functions and constants you have access to with the math library.
Now try out at least 3 of these math functions in a cell and run it to see the results

In [8]:
#write some python code that uses the math. (plus hit tab to find a math function you want to try out)
y = 10
print(math.log10(y))
print(math.comb(y,2))
print(math.factorial(y))

1.0
45
3628800

### (c) logical/boolean values [bool]

Boolean Logic is a discrete number system that has two values: True and False along with operators such as conjunction (and) disjunction (or) and negation. There are other operators but they are combinations of the first mentioned three.

In [9]:
b = True
c = False
print(b and c)
print(b or c)
print(not b)
type(b)

False
True
False

bool

### [Exercise 3c] Experiement and try to find the minimal number of boolean operators to use on the following base expression. What you need to do is to try to eliminate or reduce the operators and variables that are part of the expression to the best of your ability. You will still have to have at least one a,b,c,d present.

In [10]:
a,b,c,d = True, True, False, False

e = a or c or ((a or b or d and c) and not b or c) or not a
print(e)

#now write a simplified assignment to e that uses a,b,c,d on the right hand side and check that is work
e = a or b or c or d or not a
print(e)

a,b,c,d = False,True,False,True #check it with new values to make sure your work was correct!

#write the same solution and check it here...
e = a or b or c or d or not a
print(e)

True
True
True

### (d) strings [str]
Strings are a variable group of characters symbols that form the basis for many types of data in the real world from literature, histpry, philosophy all the way to biological sequences this data form is vast and the python tools are even more so!

## [4 20 pts] Get input from the user and output results

When we write solutions to problems, we want them to work under all possible inputs... Think about that for a minute and then make use of the handy python input function that will allow you to better test your programs. Try it out and then complete the exercise that requires some type conversion below.

In [11]:
x = input('enter your age')
print(x)
type(x)

enter your age 18

18

str

### [Exercise 4a]
Now have the age get entered but convert its type into an int. For strings (str) you can convert them into an int, float or bool type by calling each of those functions

In [12]:
s = '102'
x = int(s)
s = 'True'
b = bool(s)
s = '1E6'
y = float(s)
print(x,b,y)

102 True 1000000.0

In [13]:
#x = ?
x = int(input('enter your age:'))
print(x)
type(x)

enter your age: 18

18

int

### [Exercise 4b] 
Now lets work on the output format. If you use the print statement you can embed values into the string as shown below.

In [14]:
s = 'Hello %s, how are you?'
t = 'Frank'
print(s%t)

Hello Frank, how are you?

In [15]:
u = 'Bill'
v = 'Waters'
w = 'Maker'
y = 2

#write an expression for s that uses u,v,w that with print out: "Is Bill Waters a Baker or a Maker of 2 baked goods?"
#s = ?
s = f"Is {u} {v} a Baker or a {w} of {y} baked goods?"
print(s)

Is Bill Waters a Baker or a Maker of 2 baked goods?

## [5 10 pts] What kinds of things are you interested in learning to program?

### [Exercise 5] 
Write a short response below about what you would like to learn to program or a problem you wish you could solve. You should also include one link. To make a link follow this example, I will link to the Connecticut College main page which you can copy by right clicking and selecting save link:
    [link to really hard problem](https://www.conncoll.edu/academics/majors-departments-programs/departments/computer-science/)
If you want more information about how to write markdown you can go [here](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html)

your markdown goes here

<h3>My answer:</h3>

I'd like to work on the association between the voting decision of states and their socioeconomic levels, income, education background, etc.

I'd also like to test the accurateness of the voting surveys compared to the real world results. 

<a href="https://econofact.org/voting-and-income">This is a similar study</a>